{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1 class="strokeme">{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <p></p> 
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p class="stroke">{{ . | markdownify }}</p>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdhbNqAnuKJswTTaHIMaBO3CdtbGNIbH6eYhWsb9SUb_6o4hQ/viewform" class="btn btn-primary btn-xl page-scroll">{{ . | markdownify }}</a>
            {{ end }}
        </div>
    </div>
</header>
