{{ "<!-- Music Modals -->" | safeHTML }}
{{ range .Site.Data.music }} 
<div class="member-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
    <div class="modal-dialogue vertical-align-center" role="document">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="member-modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="modal-body">

                        {{ with .title }}
                            <h2><center>{{ . }}</center></h2>
                        {{ end }}

                    <div class="col-lg-3 col-lg-offset-2">

                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}

                        <img src="img/music/{{ .img }}" class="img-responsive img-centered" alt="">
                        
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}

                    </div>
                    <div class="col-lg-6 col=lg-offset-1">

                        {{ with .songlist }}
                            {{ . | safeHTML }}
                        {{ end }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
{{ end }}
