{{ "<!-- Schedule Modals -->" | safeHTML }}
{{ range .Site.Data.schedule }}
<div class="member-modal modal fade" id="event{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
    <div class="modal-dialogue vertical-align-center" role="document">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}

                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}

                        <!--<img src="img/schedule/{{ .img }}" class="img-responsive img-centered" alt="">
                        -->
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}

                        {{ if or .date .time .location }}
                            <ul class="list-inline item-details">
                                {{ if .date }}
                                    <li>{{ with $.Site.Params.schedule.modal.date }}{{.}}: {{ end }}
                                        <strong>{{ .date }}</strong>
                                    </li>
                                {{ end }}
                                {{ if .time }}
                                    <li>{{ with $.Site.Params.schedule.modal.time }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .time }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .location }}
                                    <li>{{ with $.Site.Params.schedule.modal.location }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .location }}</a></strong>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                        {{ with $.Site.Params.schedule.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
{{ end }}
