{{ "<!-- Video Modals -->" | safeHTML }}
{{ range .Site.Data.videos }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}

                        {{ if and .title .year }}
                            <hr class="star-primary">
                        {{ end }}

                        <div class="video-container">
                            <video class="video-width" controls>
                                <source src="img/videos/videos/{{ .vid }}" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>

                        {{ with .year }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}

                        {{ with $.Site.Params.video.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
